<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Personagens Rick And Morty
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Personagens Rick And Morty</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      @for (p of characters; track p.id) {
        <ion-col size="6" size-md="4" size-lg="3">
          <ion-card class="character-card">
            <img [src]="p.image" [alt]="p.name" />
            <ion-card-header>
              <ion-card-title class="ion-text-nowrap">{{ p.name }}</ion-card-title>
              <ion-card-subtitle>{{ p.species }} - {{ p.status }}</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
      } @empty {
    <div class="ion-text-center ion-padding">
      <p>Nenhum personagem encontrado.</p>
    </div>
  }
    </ion-row>
  </ion-grid>
   
</ion-content>
